//変数準備
$c-font:#333333;
$c-font2:#f8f4e6;

$c-bg-b:#333333;
$c-bg-b2:#000000;
$c-bg-v:#824880;
$c-bg-V2:#460e44;
$c-bg-w:#f8f4e6;


$ff-normal:'Kaisei Opti', serif;
$ff-strong:'Miltonian Tattoo', serif;
